:root{
  --thumb-percent: 40%;
}

@media only screen and (min-width: 350px) {
  input[type="range"].myslider {
    height: 20px;
    -webkit-appearance: none;
    margin: 20px 0;
    width: 100%;
  }
}

@media only screen and (max-width: 350px) {
  input[type="range"].myslider {
    height: 20px;
    -webkit-appearance: none;
    margin: 10px 0 0 0;
    width: 100%;
  }
}

input[type="range"].myslider:focus {
  outline: none;
}
input[type="range"].myslider::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  animate: 0.2s;
  background: white;
  border-radius: 14px;
  border: 2px solid #55acee;
}
input[type="range"].myslider::-webkit-slider-thumb {
  border: 2px solid #55acee;
  height: 20px;
  width: var(--thumb-percent);
  border-radius: 12px;
  background: #529de1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type="range"].myslider:focus::-webkit-slider-runnable-track {
  background: white;
}
input[type="range"].myslider::-moz-range-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  animate: 0.2s;
  background: white;
  border-radius: 14px;
  border: 2px solid #55acee;
}
input[type="range"].myslider::-moz-range-thumb {
  border: 2px solid #55acee;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: #529de1;
  cursor: pointer;
}
input[type="range"].myslider::-ms-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"].myslider::-ms-fill-lower {
  background: white;
  border: 2px solid #55acee;
  border-radius: 28px;
}
input[type="range"].myslider::-ms-fill-upper {
  background: white;
  border: 2px solid #55acee;
  border-radius: 28px;
}
input[type="range"].myslider::-ms-thumb {
  margin-top: 1px;
  border: 2px solid #55acee;
  height: 20px;
  width: var(--thumb-percent);
  border-radius: 12px;
  background: #529de1;
  cursor: pointer;
}
input[type="range"].myslider:focus::-ms-fill-lower {
  background: white;
}
input[type="range"].myslider:focus::-ms-fill-upper {
  background: white;
}

/* .slidecontainer {
  margin-top: 2rem;
} */
